# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/backend/node_modules
/frontend111/node_modules
/frontend111/.pnp
/frontend111/.pnp.js

.vscode/

# testing
/frontend111/coverage

# production
/frontend111/build

# misc
/frontend111/.DS_Store
/frontend111/.env.local
/frontend111/.env.development.local
/frontend111/.env.test.local
/frontend111/.env.production.local

npm-debug.log*
/frontend111/yarn-debug.log*
/frontend111/yarn-error.log*


